WebApplicationAPP/.vs/WebApplicationAPP.slnx/v18/.suo
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/d3061c30-4189-4f4e-b88c-599dce8f0381.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/bd100418-b6e5-43da-af36-d856d87d1ce0.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/8466eed7-b94f-48b6-a2fe-83a5573ccbde.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/4cfb9006-322b-4b2d-810f-480fa80dd326.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/10e81074-7024-405d-85cd-4038ffe63181.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/copilot-chat/b3228ddd/sessions/8ac6afe5-c958-43b0-a8be-aa22f7491ba5
WebApplication/.vs/WebApplication.slnx/DesignTimeBuild/.dtbcache.v2
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/50a09844-3400-4118-b741-5fdfe533c631.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/c6244ad7-d221-42d2-b7d0-3559b098dafd.vsidx
WebApplicationAPP/.vs/WebApplicationAPP.slnx/FileContentIndex/d71b697a-4169-4f4d-b33b-cd78c2e6f348.vsidx
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.378.57660/CodeChunks.db
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.378.57660/CodeChunks.db-shm
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.378.57660/CodeChunks.db-wal
*.vsidx
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/SemanticSymbols.db-wal
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/SemanticSymbols.db-shm
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/SemanticSymbols.db
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/CodeChunks.db-wal
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/CodeChunks.db-shm
WebApplicationAPP/.vs/WebApplicationAPP/CopilotIndices/18.3.442.31881/CodeChunks.db
WebApplicationAPP/.vs/WebApplicationAPP.slnx/v18/DocumentLayout.json
WebApplicationAPP/.vs/WebApplicationAPP.slnx/v18/DocumentLayout.backup.json
