@model WebApplicationAPP.Models.Producto

<h1>Crear Producto</h1>

<form method="post">
    
    <label for="Nombre">Nombre:</label>
    <input type="text" asp-for="Nombre" name="Nombre" required />

    <label for="Precio">Precio:</label>
    <input type="number" asp-for="Precio" name="Precio" step="0.01" required />

    <label for="Stock">Stock:</label>
    <input type="number" asp-for="Stock" name="Stock" required />

    <button type="submit" class="btn btn-primary">Crear</button>

</form>


        public int Id { get; set; }
        public String Nombre { get; set; }
        public decimal Precio { get; set; }
        public int Stock { get; set; }