@model WebApplicationAPP.Models.Producto

<h1>Detalles</h1>

<p>
    Id: @Model.Id    
</p>

<p>
    Nombre: @Model.Nombre
</p>

<p>
    Precio: @Model.Precio
</p>

<p>
    Stock: @Model.Stock
</p>


<a asp-action="Index">Regresar a la lista</a>