@model WebApplicationAPP.Models.Persona

@{
    ViewBag.Title = "Registra Persona";
}

<h2>Registrar Persona</h2>


<form asp-action="Create" method="post">


    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text"
               class="form-control"
               aria-describedby="helpId"
               placeholder="Ingrese su nombre"
               asp-for="Nombre" />
        <small id="helpId" class="form-text text-muted">Help Nombre</small>
    </div>


    <div class="mb-3">
        <label for="" class="form-label">Apellido</label>
        <input type="text"
               class="form-control"
               aria-describedby="helpId"
               placeholder="Ingrese su nombre"
               asp-for="Apellido" />
        <small id="helpId" class="form-text text-muted">Help Apellido</small>
    </div>



    <div class="mb-3">
        <label for="" class="form-label">Estado</label>

        <div class="form-group">
            <input aria-describedby="helpId"
                   placeholder="Ingrese su nombre"
                   asp-for="Estado" />
        </div>

        <small id="helpId" class="form-text text-muted">Help Estado</small>
    </div>


    <div class="mb-3">
        <a asp-action="Index"
           class="btn btn-danger"
           role="button">Cancelar</a>


        <button type="submit"
                class="btn btn-primary">
            Enviar
        </button>
    </div>







</form>